@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    font-family: 'ABCDiatype';
}


@layer utilities {

    /* Solid backgrounds */
    .bg-primary-gradient {
        @apply bg-gradient-to-r from-primary-light via-primary to-primary-dark;
    }

    .bg-secondary-gradient {
        @apply bg-gradient-to-r from-secondary-light via-secondary to-secondary-dark;
    }

    .bg-info-gradient {
        @apply bg-gradient-to-r from-info-light via-info to-info-dark;
    }

    /* Subtle patterns */
    .bg-dots {
        background-image: radial-gradient(circle, #00000010 1px, transparent 1px);
        background-size: 20px 20px;
    }

    .bg-lines {
        background-image: linear-gradient(90deg, #00000010 1px, transparent 1px);
        background-size: 20px 20px;
    }

    /* Overlays */
    .bg-overlay-light {
        @apply bg-light bg-opacity-80;
    }

    .bg-overlay-dark {
        @apply bg-primary-dark bg-opacity-80;
    }

    /* Animated backgrounds */
    .bg-shimmer {
        @apply relative overflow-hidden;

        &::after {
            content: '';
            @apply absolute top-0 left-0 w-full h-full;
            background: linear-gradient(90deg, transparent,rgba(255, 255, 255, 0.2), transparent);
            animation: shimmer 1.5s infinite;
        }
    }

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }
}




@layer components {
    .prose {
        width: 100% !important;
        max-width: 100% !important;
    }

    .prose img {
        width: 100%;
        border-radius: 15px;
    }


    .btn {
        @apply py-2 px-4 rounded transition duration-300 ease-in-out;
    }

    .btn-primary {
        @apply btn bg-primary text-light hover:bg-primary-dark;
    }

    .btn-secondary {
        @apply btn bg-secondary text-primary hover:bg-secondary-dark;
    }

    .btn-accent {
        @apply btn bg-accent text-light hover:bg-amber-600;
    }

    .btn-info {
        @apply btn bg-info text-light hover:bg-info-dark;
    }

    .btn-success {
        @apply btn bg-success text-light hover:bg-teal-600;
    }

    .btn-warning {
        @apply btn bg-warning text-light hover:bg-red-500;
    }

    .btn-error {
        @apply btn bg-error text-light hover:bg-red-700;
    }

    .btn-outline-primary {
        @apply btn border border-primary text-primary hover:bg-primary hover:text-light;
    }

    .btn-outline-secondary {
        @apply btn border border-secondary text-secondary hover:bg-secondary hover:text-primary;
    }

    .animate-rotate {
        transform-origin: center center;
        animation: rotate linear 800ms infinite forwards;
    }

    .animate-rotate-reverse {
        transform-origin: center center;
        animation: rotate-reverse linear 500ms infinite forwards;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg)
        }

        to {
            transform: rotate(360deg);
        }
    }


    @keyframes rotate-reverse {
        from {
            transform: rotate(360deg)
        }

        to {
            transform: rotate(0deg);
        }
    }
}



/* Swipper */


.nav-for-slider .swiper-slide {
    height: auto;
    width: auto;
    cursor: pointer;

}

.swiper-wrapper {
    height: auto;
}

.nav-for-slider .swiper-slide img {
    border: 2px solid transparent;
    border-radius: 10px;

}

.nav-for-slider .swiper-slide-thumb-active img {

    border-color: rgb(239 68 68 / 500);
}

.header-swiper {
    width: 35rem !important;
}

.pswp__img {
    height: auto !important;
    margin-top: 7rem;
}

@media (max-width: 500.98px) {
    .header-swiper {
        width: 20rem !important;
    }
}

@media (max-width: 575.98px) {}


@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {}


@media (max-width: 1199.98px) {}


@media (max-width: 1399.98px) {}
